.furniture {
	padding: 3rem 2rem;

	&__title {
		@include font(1rem, $black, 1.2rem, 700);
		text-transform: uppercase;
		padding: 1rem 0;
		letter-spacing: 0.3rem;
	}

	&__description {
		@include font(1rem, $darkGrey, 1.7rem, 500);
	}
}

@media screen and (min-width: 800px) {
	.furniture {
		display: grid;
		align-items: center;
		align-content: center;
		padding: 3rem;
	}
}
